@use '../variables' as *;

@mixin st_btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	white-space: nowrap;
	font-family: $font_1;
	cursor: pointer;
	text-decoration: none;
}

//color extends
%prime_btn {
	@include st_btn;
	color: $color_white;
	background-color: $color_red;
	transition: 0.3s ease;

	/* 	&:hover {
		background-color: $color_white;
		color: $color_black;
	} */
}

//size extends 
%btn_size_1 {
	min-width: 15.3rem;
	height: 3.2rem;
	padding: 0 2rem;
	line-height: 1.9rem;
	font-size: 1.2rem;
	font-weight: 500;
	border-radius: 0.5rem;
	text-transform: uppercase;

	@media(max-width: 576px) {
		min-width: 8rem;
		height: 3.2rem;
		padding: 1rem 2rem;
		line-height: 2.2rem;
		font-size: 1.2rem;
	}
}

%btn_size_2 {
	min-width: 30rem;
	height: 5rem;
	padding: 1.2rem 2.8rem;
	line-height: 2.5rem;
	font-size: 1.6rem;
	border-radius: 0.5rem;

	text-transform: uppercase;

	@media(max-width: 576px) {
		min-width: 15rem;
		height: 4rem;
		padding: 1rem 2rem;
		line-height: 2.2rem;
		font-size: 1.2rem;
	}
}

%btn_size_3 {
	max-width: 30.3rem;
	height: 5.8rem;
	padding: 1.7rem 2.9rem;
	line-height: 2.5rem;
	font-size: 1.6rem;
	border-radius: 0.5rem;

	text-transform: uppercase;

	@media(max-width: 576px) {
		min-width: 15rem;
		height: 4rem;
		padding: 1rem 2rem;
		line-height: 2.2rem;
		font-size: 1.2rem;
	}
}

%btn_size_4 {
	max-width: 13.5rem;
	height: 4.4rem;
	padding: 1rem 2.4rem;
	line-height: 2.2rem;
	font-size: 1.4rem;
	border-radius: 0.5rem;
	text-transform: uppercase;

	@media(max-width: 576px) {
		min-width: 12rem;
		height: 3.5rem;
		padding: 1rem 2rem;
		line-height: 1.1rem;
		font-size: 1rem;
	}
}

.btn__header {
	@extend %prime_btn;
	@extend %btn_size_1;
}

.bth__base {
	@extend %prime_btn;
	@extend %btn_size_2;
}

.btn__form {
	@extend %prime_btn;
	@extend %btn_size_3;
}

.bth-content__catalog {
	@extend %prime_btn;
	@extend %btn_size_4;
}