@use '../helpers/abstracts' as *;

.slider__inner {
    position: relative;
    margin: 0 auto;
    max-width: 75rem;
    height: 52.7rem;

    @include bp($point_6) {
        max-width: 40rem;
        height: 35rem;
    }


    .img {

        @include bp($point_7) {
            max-width: 30rem;
        }

    }

    .slick-dots {
        display: none !important;
    }
}


.slick-prev {
    position: absolute;
    top: 50%;
    left: -6.6rem;
    transform: translateY(-50%);
    width: 31px;
    height: 50px;

    @include bp($point_6) {
        display: none;
    }

}

.slick-next {
    position: absolute;
    top: 50%;
    right: -6.6rem;
    transform: translateX(-50%);
    width: 31px;
    height: 50px;

    @include bp($point_6) {
        display: none;
    }
}